{block #content}

<a n:href="add" class="btn btn-primary btn-small pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;Nový článek</a>

<ul class="breadcrumb">
  <li class="active">Správa článků</li>
</ul>

{control grid}

{/block}