<!DOCTYPE html>
 <html>
  <head>
    <meta charset="utf-8">
    <title>Clevis' Articles Admin</title>
	<meta name="robots" content="{$robots}" n:ifset="$robots">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="description" content="">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="{$basePath}/css/bootstrap-glyphicons.css" rel="stylesheet" type="text/css">
	<link href="{$basePath}/css/widearea.min.css" rel="stylesheet" type="text/css">
	<link href="{$basePath}/css/screen.css" rel="stylesheet" type="text/css">

	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/widearea.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
</head>
<body>
	<header class="navbar navbar-static-top">
		<div class="container">
			<a class="navbar-brand">Administrace</a>
			{if $signed}
				<ul class="nav navbar-nav">
					<li {ifCurrent Articles:*}class="active"{/ifCurrent}><a n:href="Articles:">Články</a></li>
				</ul>
				<p class="navbar-text pull-right"><a n:href="Sign:out">Odhlásit se</a></p>
				<p class="navbar-text pull-right"><a n:href="User:changePassword">Změna hesla</a></p>
			{/if}
		</div>
	</header>

	<div class="container">
		{foreach $flashes as $flash}
			<div class="alert alert-{$flash->type}">
				<a class="close">&times;</a>
				{$flash->message}
			</div>
		{/foreach}

		{include #content}
	</div>

</body>
</html>
