<!DOCTYPE html>
 <html>
  <head>
    <meta charset="utf-8">
    <title>Clevis' Articles</title>
	<meta name="robots" content="{$robots}" n:ifset="$robots">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="description" content="">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
</head>
<body>

{include #content}

</body>
</html>
