body {
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}

/* Override some defaults */
html, body {
	background-color: #fbfbfb;
}

/* Tools */
.accessible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
.hidden {
	display: none;
	visibility: hidden;
}

/* Boostrap overrides */
.btn-mini{
	border-radius: 3px 3px 3px 3px;
	font-size: 10px;
	line-height: 1.5;
	padding: 5px 10px;
}


.widearea{
	padding: 8px 12px;
	border-radius: 4px 0px 4px 4px;
}
.widearea-icons{
	height: 30px;
	margin-left: 20px;
	padding-left: 6px;
	width: 30px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 0px 4px 4px 0px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* Data grid table */
.table-datagrid{}

.table-datagrid tbody td{
	vertical-align: middle !important;
}
.table-datagrid .actions{
	text-align: right;

}